/* <---Overall Webpage Structure---> */

body {
    background-color: darkblue;
}

/* <---Top Section---> */

.titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#albumPileImage {
    width: 100%;
    height: 750px;
}

#title {
    position: absolute;
    top: 275px;
    left: 25%;
    width: 50%;
    height: 25%;
  }
  
/* <---Paragraphs & Images---> */

p {
    font-size: 25px;
}

/* <---Footer---> */
